
#create-task-modal
{
  z-index: 1;
  display: none;
}

#create-task-modal .dimmer
{
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.31);
}

#create-task-modal .window
{
  width: 350px;
  height: 95px;

  background-color: #DCE0EE;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#create-task-modal .window .actions
{
  height: 40px;
  position: absolute;
  bottom: -20px;
  width: 50%;
  left: 25%;

  display: flex;
}

#create-task-modal .actions button
{
  width: 50%;
  height: 100%;
  border: none;
  outline: none;

  color: white;
  font-family: helvetica;

  font-size: 17px;
  font-weight: 600;

  cursor: pointer;
}

#create-task-modal .window .content
{
  border-radius: 3px;
  padding: 20px;
  flex-grow: 1;
}

#create-task-modal .content label
{
  font-family: helvetica;
}
