
body
{
  background-color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#title
{
  font-family: helvetica;
  font-style: normal;
  font-size: 80px;
  /* identical to box height */
  margin: 10px;

  color: rgba(255, 255, 255, 0.9);
}

#tasks-label
{
  position: relative;
  width: 550px;
  height: 50px;

  background: #363636;
  border-radius: 50px;

  font-family: helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #DCE0EE;
}

#tasks-label > button
{
  border: none;
  outline: none;
  color: #DCE0EE;
  font-size: 44px;

  position: absolute;
  width: 50px;
  height: 50px;
  right: 0;
  top: 0;

  background: #68A3D6;
  border-radius: 50px;

  cursor: pointer;
}

#list
{
  overflow: auto;
  max-height: calc(100vh - 180px);
}
