#list > div
{
  height: 50px;
  width: 550px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#list > div > input[type="text"]
{
  color: white;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 20px;
  margin: 0 5px;
  width: 100%;
}

#list > div > div
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 130px;
  min-width: 130px;
  margin-right: 5px;
}

#list > div > div > select
{
  height: 25px;
  width: 100px;

  color: white;
  outline: none;
  background-color: black;
}

#list > div > div > button
{
  outline: none;
  border: none;

  font-size: 25px;
  color: red;
  width: 25px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}